body {
    font-family: 'Alegreya Sans', 'cwTeXHei', sans-serif;
    background: #222;
}

#app {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #EEE;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 80px 0;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius: 300px;
}

#title {
    font-weight: 400;
    font-size: 5em;
}

#counter-label {
    font-weight: 100;
    font-size: 1.5em;
    margin: 15px 0 0;
}

#counter {
    font-weight: 100;
    font-size: 4em;
    margin: -15px 30px 30px;
}

hr {
    width: 80%;
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}

#bs {
    font-weight: 400;
    font-size: 2em;
    margin: 20px 0 0;
}